<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  
  <%- partial('post/title', {class_name: 'article-title'}) %>
  <a class="img_link" href="<%- url_for(post.path) %>"  itemprop="url">
  <img class="img_thumbnail" width="400" height="300" src= "<%= post.thumbnail %>" >
  </a>
  
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="mobile-nav">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">

    </div>

    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      
    </div>

   

    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
    
  </div>
  <div class="date-mata">
    <%- partial('post/category') %>
    </div>
  
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
  
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>